#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Console Tool"
#define VER_INTERNALNAME_STR        "scsicmd.exe"

#include <windows.h>
#include <ntverp.h>
#include "common.ver"
